.filters-container {
    padding: 36px;
    padding-bottom: 0px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.filter-unit {
    display: flex;
    align-items: center;
    gap: 16px;
}

@media only screen and (max-width: 600px) {
    .filters-container {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .filter-unit.first {
        margin-left: -10px;
    }
}
